<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/main_sidebar.html">
    <div layout:fragment="content">
        <div class="row">
            <div class="col-10 mx-auto">
                <div class="alert alert-success alert-dismissible fade show" role="alert" th:if = "${param.success!=null}">
                    Item added successfully!
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <form th:action="@{'/additem'}" method="post">
                    <div class="mt-2">
                        <label>NAME : </label>
                        <input type="text" class="form-control mt-2" name="name" required>
                    </div>
                    <div class="mt-2">
                        <label>PRICE : </label>
                        <input type="number" class="form-control mt-2" name="price" required>
                    </div>
                    <div class="mt-2">
                        <label>AMOUNT : </label>
                        <input type="number" class="form-control mt-2" name="amount" required>
                    </div>
                    <div class="mt-3">
                        <button class="btn btn-success">ADD ITEM</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>